body {
    padding-top: 60px;
}
.draggable-item {
    cursor: pointer;
}
.drag-handle {
    cursor: grabbing;
    display: inline-block;
    margin-right: 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.drag-handle:active {
    cursor: grabbing;
}